#about {
  a { font-weight: 400; }
  a.past { font-weight: 300; }

  p {
    font-size: 17px;
    line-height: 1.6em;
    text-align: justify;
  }

  h2 {
    font-size: 18px;
    margin: 0;
  }

  & > div { padding: $padding; }

  div.meta {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -$padding;
    text-align: center;
  }

  div.greeting {
    font-weight: 700;
    font-size: 36px;
    font-family: $heading-font;
  }

  .email span {
    font-size: 10px;
    vertical-align: 1px;
    font-weight: 200;
  }

  #mugshot {
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 auto;
  }

  #about-left {
    // max-width: 180px;

    ul {
      text-align: center;
      margin-top: 15px;
    }
  }

  #about-desc {
    padding-bottom: 0;
  }

  #news {
    a { font-weight: 300; }
    li { margin-bottom: $padding; }

    .date {
      color: #999 !important;
      font-size: 11px;
    }
  }

  .job-materials {
    margin-top: 10px;
  }
}