$body-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Alegreya', serif;
$padding: 15px;
$link-red: #C06363;

@import './src/scss/scaffold.scss';
@import './src/scss/about.scss';
@import './src/scss/projects.scss';
@import './src/scss/papers.scss';
@import './src/scss/travel.scss';