.project {
  padding: $padding;
  padding-bottom: 0;

  h3 {
    font-size: 17px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .thumbnail {
    float: left;
    margin: 4px 15px 0 0;

    img {
      width: 120px;
      /*border-radius: 10px;*/
    }
  }

  .abstract { margin: 0; }
  .try a {font-weight: 600;}

  .collaborators {
    font-size: 11px;

    a {
      color: #000;

      &:hover { color: $link-red; }
    }
  }
}